body{
    font-family: 'Roboto', sans-serif;
  }
#main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#progressbar{
    padding-inline-start: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.step{

}
#step-1-bar, #step-1{
    display:flex;
}
#step-2-bar, #step-2{
    display:none;
}
#step-3-bar, #step-3{
    display:none;
}
#step-4-bar, #step-4{
    display:none;
}
#step-5-bar, #step-5{
    display:none;
}
#step-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 100%;
}
#step-2{
    display: none;
    flex-direction: column;
    align-items: center;
    
    width: 100%;
}
#step-3{
    display: none;
    flex-direction: column;
    align-items: center;
    
    width: 100%;
}
#step-4{
    display: none;
    flex-direction: column;
    align-items: center;
    
    width: 100%;
}
#step-5{
    display: none;
    flex-direction: column;
    align-items: center;
    
    width: 100%;
}
.spinner{
    max-height: 24px;
    margin-bottom: 0.5rem;
}
#embed{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}
.mt-2{
    margin-top: 2rem;
}
.mb-half{
    margin-bottom: 0.5rem;
}